.gallery-section {
  padding: 60px 0;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #146927;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

// .load-more {
//   display: block;
//   margin: 0 auto;
// }

// .load-more.is-hidden {
//   display: none;
// }

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #299240;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  column-gap: 20px;
  row-gap: 70px;
}

.photo-card{
object-fit: cover;
flex-basis: calc((100% - 3 * 20px) / 4);
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gallery__item {
max-width: 100%;
flex-basis: calc((100% - 3 * 20px) / 4);
}

.gallery-img {
  display: block;
  width: 277.5px;  
  height: 200px;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px; 

  font-size: 13px;
  
  background: radial-gradient(circle 610px at 5.2% 51.6%, rgba(245, 237, 251, 0.767) 0%, rgba(238, 238, 253, 0.699) 97.5%) no-repeat fixed;
}

.info-item{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

width: 100%;
height: 100%; 

color: #6e6d94; 
}

#tui-pagination-container.is-hidden {
  display: none;
}


.load-more{
  margin: 30px auto;
  display: block;
  
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}