<section class="gallery-section">
  <div class="container">
    <!-- інпут -->
    <form class="search-form js-search-form" id="search-form">
      <input
        type="text"
        name="user-search-query"
        autocomplete="off"
        placeholder="Search images..."
        class="search-input"
      />
      <button type="submit" class="search-btn">Search</button>
    </form>

     

    <!-- gallery -->
    <div class="gallery js-gallery list">
      <!-- Картки зображень -->
    </div>

     

    <ul class="gallery js-gallery list"></ul>
    <div class="target-element"></div>
  </div>
  
  <button type="button" class="load-more search-btn is-hidden">Load more</button>

 <!-- tui -->
    <div id="tui-pagination-container" class="tui-pagination"></div> <!-- is-hidden -->
  </div>
</section>